<!DOCTYPE html>
<html lang="en">
<title>XMalaria: Example Upload</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<script>
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
    <a href="/methods_discussion" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Methods</a>
    <a href="/example" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Upload Example</a>
    <a href="/user_info" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Upload and Test your image(s)!</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="/contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
    <a href="/methods_discussion" class="w3-bar-item w3-button w3-padding-large">Methods</a>
    <a href="/example" class="w3-bar-item w3-button w3-padding-large">Upload Example</a>
    <a href="/user_info" class="w3-bar-item w3-button w3-padding-large">Upload and Test your image(s)!</a>

  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-row-padding w3-padding-64">
    <div class="w3-content">
        <h2>Uploading multiple files:</h2>
        <p>When uploading multiple files, follow these instructions:</p>
        <p>1. Click on Upload link in red navigation bar on the top of the page</p>
        <p>2. Fill out the brief survey</p>
        <p>3. Upload the file. Upload multiple files by holding "ctrl" and clicking on multiple files</p>
        <p>4. Click submit, and see the result.</p>
        <br><br>
        <p>Note: as the models for detection and classification were trained on thin blood smear images that were stained with the wright-giemsa reagant,
        the model should take input images that were also stained by that reagant. Otherwise, the model will likely be unable to correctly detect the RBCs and/or
        be unable to correctly classify them. </p>
        <p>Example of an appropriate image: </p>
        <img src="/static/website_pics/img.jpg" alt="img" class="center">
    </div>
</div>

</body>
</html>
